.App {
  text-align: center;
}

body{
  background-color: rgb(255, 245, 245);
}
h1{
  font-weight: 600;
  font-size: 2.6rem;
  text-align: center;
  margin: 10;
}
div{
  margin: 20px auto;
  color: #001f3f;
  word-spacing: 3px;
  width: 95%;
  line-height: 5rem;
}

.abt{
  line-height: 1.8rem;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.imm{

  width: 200px;
  border-radius: 6px;
  border:  1px solid #ddd;
  
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
